* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* =========== navigation bar =========== */
.navbar {
    background: linear-gradient(to right,#e30000,#c10001);
    height: 100px;
}
.navbar_inner {
    width: 80%;
    margin: auto;
}
.logo {
    width: 200px;
}
.f_left {
    float: left;
}
.flex_inside {
    display: flex;
    padding-left: 80px;
}
.flex_inside > div {
    margin-top: 40px;
    padding: 0 15px;
}
.link {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

/* ============== drop down =========== */
.dropdown {
    list-style-type: none;
    font-size: 18px;
}
.dropdown a {
    text-decoration: none;
    color: white;
    padding: 10px 5px;
    border-radius: 5px;
}
.dropdown a:hover {
    background: white;
    color: #e30000;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 15px;
    border-radius: 5px;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* ========== Below Navigation bar ============ */
.bg {
    background-image: url(../images//background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.below_navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    color: white;
}
.below_navbar h1 {
    font-size: 40px;
}
.below_navbar h5 {
    margin-top: 10px;
}
.btn {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 15px;
    margin: 20px;
    cursor: pointer;
}
.btn:hover {
    background: white;
    color: #e30000;
}
.below_navbar button:focus {
    outline: 0;
}

/* =========== Media Queries ============ */

@media(max-width: 768px) {
    .logo {
        width: 180px;
    }
    .flex_inside {
        display: flex;
        padding-left: 40px;
    }
    .flex_inside > div {
        font-weight: normal;
        margin-top: 35px;
        padding: 0px 10px;
    }   
    .dropdown a {
        font-size: 13px;
    }
}
@media(max-width: 568px) {
    .navbar_inner {
        width: 95%;
    }
    .f_left {
        float: none;
        text-align: center;
    }
    .logo {
        width: 140px;
    }
    .flex_inside {
        justify-content: space-between;
        padding-left: 0px;
    }
    .flex_inside > div {
        font-weight: normal;
        margin-top: 10px;
        padding: 0px 2px;
    }
    .link,.dropdown {
        font-size: 13px;
    }
    
}
@media(max-width: 375px) {
    .link,.dropdown {
        font-size: 12px;
    }
    .flex_inside {
        padding-left: 0px;
    }
    .dropdown a {
        padding: 5px 0px;
    }
}
